<!-- start custom head snippets -->
{% unless page.image %}
<meta property="og:image" content="{{ site.default_image | relative_url }}"/>
{% endunless %}
<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="icon" type="image/svg+xml" href="{{ '/images/favicon.svg' | relative_url }}">
<link rel="icon" type="image/png" href="{{ '/images/favicon.png' | relative_url }}">
<!-- verify social media profiles -->
<link rel="me" href="https://mstdn.ca/@ChrisCScott">
<!-- end custom head snippets -->
